body {

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: #FFF;


}

span, p {
	color: #666;

}

a {
	text-decoration: none;
	color: #FFF;
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

a:hover {
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

b {
	font-weight: bold;

}

p {
	font-size: 18px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 7px;
	line-height: 50px;
}

h2 {
	color: #333;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 10px;
	position: relative;
}

h3 {
	font-size: 28px;
	font-weight: 300;

}

h5 {
	color: #666;
	font-size: 24px;
	padding-bottom: 70px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.head-menu{
	padding-bottom: 10px;
	background-color: #000;
}


.logo {
	display: inline-block;
	margin-top: 12px;
}

.navigation {
	margin-top: 17px;
}

.navigation li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;

}

.navigation li:first-child {
	margin-left: 0;
}

.navigation li:last-child {
	margin-right: 0;
}

.navigation li a {
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 10px 12px 40px;


}

.navigation li .blog {
	position: relative;
	border: 1px solid #000;
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

.navigation li .blog:hover {
	border: 1px solid #FFFFFF;
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

.navigation li .login {
	position: relative;
	border: 1px solid #4d4d4d;
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

.navigation li .login:hover {
	border: 1px solid #FFFFFF;
	transition:all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
}

.navigation li .blog:before {
	content: '';
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -205px;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 10px;
	top: 15px;

}

.navigation li .login:before {
	content: '';
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -222px;
	width: 17px;
	height: 19px;
	position: absolute;
	left: 10px;
	top: 11px;

}

.head-block {
	background: url("../img/barbershop.png") no-repeat;
	background-size: cover;

}

.header-block-in {
	padding: 100px 10px 85px 310px;
	position: relative;
}

.header-block-in:before {
	content: '';
	background: url("../img/girl.png") no-repeat;
	display: block;
	height: 476px;
	width: 309px;
	position: absolute;
	left: -20px;
	bottom: 0;

}

.header-block-in h1, .header-block-in h3 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.list {
	padding: 100px 0 0 60px;
	float: left;

}

.list li {
	position: relative;
}

.list li h4{
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 42px;
}

.list li h4:before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	background: url("../img/sprite.png") no-repeat;
	left: -50px;
	top: 8px;
}

.list li:nth-child(2) h4:before {
	background-position: 0 -40px;
	top: 5px;
}

.list li:nth-child(3) h4:before {
	background-position: 0 -90px;
	top: 12px;
	width: 30px;
	height: 20px;
}

.list li:nth-child(4) h4:before {
	background-position: 0 -125px;
	top: 8px;
	width: 30px;
	height: 30px;
}

.list li:last-child h4:before {
	background-position: 0 -165px;
	top: 5px;
	width: 30px;
	height: 30px;
}

.form {
	float: right;
	padding-top: 100px;


}

input, button {
	display: block;
	height: 50px;
	width: 100%;
	font-size: 18px;


}

input {
	padding: 20px;
	color: #737373;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #eaeaea;

}

.form input:last-child {
	border-bottom: none;
}

::-webkit-input-placeholder {
	color:#999999;
	font-weight: 300;
}
::-moz-placeholder          {
	color:#999999;
	font-weight: 300;
}

:-moz-placeholder           {
	color:#999999;
	font-weight: 300;
}
:-ms-input-placeholder      {
	color:#999999;
	font-weight: 300;
}

.button, .get-start {
	padding-top: 4px;
	padding-left: 19px;
	color: #FFFFFF;
	background: linear-gradient(to top, #cc0000, #d83b3b);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 4px solid #ae0000;
	position: relative;
	cursor: pointer;

}

.button span {
	color: #FFFFFF;
}

.button:hover, .get-start:hover {
	background: linear-gradient(to top, #f20001, #f84242);
	border-bottom: 4px solid #cd0000;


}

.button:active, .get-start:active {
	border-bottom: 3px solid #cd0000;
}

.button:after {
	content: '';
	background: url("../img/go.png") no-repeat;
	display: block;
	width: 8px;
	height: 17px;
	position: absolute;
	right: 26px;
	top: 17px;
}

.first-content {
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
	background-image: url("../img/money.jpg");
	background-repeat: no-repeat;
	background-position: 0 100%;
}




.login-small {
	margin-left: 320px;
	margin-bottom: 65px;
}

.login-small a{
	color: #666;
	position: relative;
	padding-left: 17px;

}

.login-small a:hover {
	color: #868686;



}

.login-small a:before{
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: url("../img/sprite2.png") no-repeat;
	background-position: 0 -376px;
	left: 0;
}


.first-content .ba-text-center h2:after {
	content: '';
	position: absolute;
	background: url("../img/sprite2.png") no-repeat;
	background-position: 0 -104px;
	width: 28px;
	height: 28px;
	top: -10px;
}

.list-description ul li{
	padding-left: 110px;
	padding-bottom: 25px;
	position: relative;
}

.list-description ul li:before{
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	background: url("../img/sprite-red.png") no-repeat #cc0000;
	border-radius: 50%;
	left: 30px;
	background-position: 0 -190px;


}

.list-description ul li:nth-child(2):before {
	background-position: 0 -90px;
}

.list-description ul li:nth-child(3):before {
	background-position: 0 -140px;
}

.list-description ul li:nth-child(4):before {
	background-position: 0 -44px;
}

.list-description ul li:nth-child(5):before {
	background-position: 0 -242px;
}

.list-description ul li:nth-child(6):before {
	background-position: 0 7px;
}

.list-description p {
	padding-bottom: 8px;
}

.list-description ul li span {
	line-height: 25px;
}

p.ba-text-center {
	padding-top: 20px;
	color: #333333;
}


.help-us{
	padding-top: 70px;
	padding-bottom: 70px;
}
.help-us h2{
	color: #333333;
	position: relative;
}
.help-us h2:after{
	content: "";
	background: url("../img/sprite2.png"), no-repeat;
	background-position: 0 -284px;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -9px;
}
.help-us h3{
	color: #666666;
}
.start{
	background-color: #333333;
	padding: 45px 0;
}
.start h2{
	padding-left: 17px;
	float: left;
	position: relative;
	color: #FFFFFF;
	font-size: 36px;
	font-weight: normal;
}

.get-start{
	float: right;
	width: 240px;
	height: 60px;
	margin-right: 20px;
	font-size: 24px;
	font-weight: 700;
}
.get-start:after{
	content: "";
	background: none;
}

.footer{
	padding: 20px 0;
	background-color: #000000;
}
.footer p{
	padding-left: 17px;
	float: left;
}
footer ul{
	float: right;
}
.footer li{
	float: left;
	padding-right: 20px;
}


.footer li a:hover{
	color: #aeaeae;

}



@media (max-width: 959px) {
	.form {
		float: none;


	}
	.header .logo {
		margin-left: 20px;
	}
	.head-menu .navigation{
		margin-right: 20px;

	}
	.login-small {
		display: inline-block;
		margin-left: 0;
	}
	
	.first-content {
		text-align: center;


	}
	.first-content .ba-text-center h2:after{
		position: relative;
		display: inline-block;
		top:-5px;
	}

	.login-small {
		padding-left: 20px;
		padding-right: 20px;
	}

	.list {
		margin-bottom: 20px;


	}
	.list li h4 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.header .logo {
		float: none;
		display: inline-block;
	}
	.head-menu .navigation{
		float: none;
		margin-right: 0;

	}
	.button:after{
		position: relative;
		display: inline-block;
		top: 0;
		right: 0;
	}

	.head-menu .navigation li {
		display: inline-block;
		float: none;
		margin-left: 0;
		margin-right: 0;

	}

	.head-menu {
		text-align: center;

	}

	.header-block-in:before {
		display: none;
	}

	.header-block-in {
		padding: 100px 10px 85px 10px;
		text-align: center;

	}

	.list {
		text-align: left;
		margin-bottom: 20px;
	}
	.list li h4 {
		font-size: 28px;
	}

	.form {
		float: none;

	}

	.first-content .ba-text-center, .list-description {
		padding-left: 25px;
		padding-right: 25px;
	}
	.first-content h2, .first-content h5 , .help-us h2{
		line-height: 1.5;
	}
	.f.first-content .ba-text-center h2:after{
		position: relative;
		display: inline-block;
		top:0;
	}
	.ba-grid>.ba-width-1-2 {
		float: none;
		width: 100%;
	}
	.ba-grid-width-1-2 li{
		width: 100%;
		text-align: left;
	}

	.help-us h2:after{
		display: inline-block;
		position: relative;
		line-height: 1.5;
	}
	.start{
		text-align: center;
	}
	.start h2, .get-start{
		float: none;
		display: inline-block;
	}
	.start h2{
		padding-left: 0;
	}
	.footer p {
		float: none;
		padding-left: 0;
	}
	.footer ul{
		float: none;
		display: inline-block;
		margin-right: -20px;
		margin-top: 20px;
	}
	

	.footer{
		text-align: center;
	}


}

/*Button*/

.menu-toggle {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	user-select: none;
	-wbkit-user-select: none;
}

.menu-toggle:hover {
	background: none;
}

.menu-toggle .line,
.menu-toggle:before,
.menu-toggle:after{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #ffffff;
}

.menu-toggle .line,
.menu-toggle:after {
	margin-top: 6px;
}

@media (min-width: 480px) {
	.menu-toggle {
		display: none;
	}
}

@media (max-width: 479px) {
	.head-menu .navigation ul {
		display: none;
	}

	.head-menu .navigation li {
		display: block;
		padding: 0;
		text-align: left;

	}

	.navigation li .login {
		border-color: transparent;
	}
	
	.logo {
		float: left !important;
		margin-left: 0 !important;

	}
	
	.menu-toggle {
		float: right;
	}

	.head-menu {
		padding: 0 15px;
	}
}

.menu-toggle:active + ul {
	display: block;
	clear: both;
}
